*,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #3F3F41;
}

:root{
    font-size: 16px;
}

i{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.nav{
    background-color: #333333;
    width: 100%;
    height: 115px;

    display: flex;
}

.formButton{
    font-weight: bold;
    color: #4FB4BC;
    background-color: rgba(196, 196, 204, 0.2);
    
    width: 75px;
    max-height: 115px;

    padding: 60px 8px 30.5px 8px;
    border-bottom: 4px solid #4FB4BC;
    margin: 0 0 0 30px;
    text-align: center;

    cursor: pointer;
    user-select:none
}

#iconHome{
    font-size: 33px;
    
}

.logo{
    margin: 25px 9px 25px 9px ;
}

.userConnected{
    color: #FFFFFF;
    margin: 45px 33px 0 0;
    font-size: 24px;
}

.userConnected hr {
    border: 2px solid #4FB4BC;
}

.logout{
    font-size: 20px;
    color: #4FB4BC;
    background-color: rgba(196, 196, 204, 0.2);
    
    position: absolute;
    right: 24px;
    width: 75px;
    max-height: 115px;

    padding: 65px 8px 25px 8px;
    border-bottom: 4px solid #4FB4BC;
    margin: 0 0 0 30px;
    text-align: center;

    cursor: pointer;
    user-select:none
}

.chamados{
    font-size: 20px;
    color: #4FB4BC;
    background-color: rgba(196, 196, 204, 0.2);
    
    position: absolute;
    right: 131px;
    width: 191px;
    max-height: 115px;

    padding: 65px 8px 25px 8px;
    border-bottom: 4px solid #4FB4BC;
    margin: 0 0 0 30px;
    text-align: center;

    cursor: pointer;
    user-select:none
}