.botoesHomeFeature {
  display: flex;
  margin: 0 0 73px 50%;
  transform: translate(-40%);
  padding: 41px 0;
}

.container{
  width: 96%;
  position: absolute;
  top: 69px;
  left: 60px;
}

.abrirChamadoLabel {
  text-align: center;
  background-image: url(./images/backgroundedited.jpg);
  background-size: cover;
  background-position: center;

  h1 {
    background-color: rgba($color: #1d1e20, $alpha: 0.6);
    padding: 220px 0 20px 0;
    font-size: 36px;
    font-weight: 200;
    color: #9af0e8;
  }
}
