.estiloSuccess{
    display: flex;
    color: #78e5d5;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.estiloError{
    display: flex;
    color: #e57878;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}