.estiloSuccess {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.estiloError {
  display: flex;
  color: #e57878;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
