.footer {
  text-align: end;
  position: relative;
  width: 100%;
  right: 0 ;
  bottom: 0;
  hr {
    width: 90%;
    margin: 0 auto;
  }

  p {
    padding: 10px 10px 5px 0;
    font-size: 20px;
    color: #ffffff;
  }
}
