.chamadoWrapper {
    margin-top: 19px;
    width: 210px;
    height: 100%;
    background-color: rgba($color: #C4C4CC, $alpha: 0.2);
    border-radius: 5px;
    
    .chamadoInfo {
        word-break: break-all;
        padding: 27px 10px 10px 5px;
        text-align: center;
        p {
            color: #FFFFFF;
            font-size: 12px;
        }
        p:last-child {
            padding-top: 10px;
        }
    }

    .chamadoTagWrapper {
        padding: 7px 7px 7px 100px;
        text-align: center;
        
        .chamadoTagInfo {
            padding: 1px 20px;
            font-size: 10px;
            border-radius: 5px;
            color: #FFFFFF;
        }
    }
    
    .chamadoStatusTagWrapper {
        padding: 20px 7px 18px 55px;
        text-align: center;
        height: 12px;
        
        .chamadoStatusTagInfo {
            font-size: 11px;
            border-radius: 5px;
            color: #FFFFFF;
            background-color: rgba(aquamarine, 0.3);
        }
    }
}