body {
  text-align: center;
}

.container {
  position: absolute;
  top: 69px;
  width: 100%;
}

.usuarioForm {
  width: 72%;
  margin: 0 auto;
}

.titleCadastroUsuarios {
  color: #ffffff;
  margin-top: 47px;
}

.titleCadastroUsuarios hr {
  border: 1px dashed #ffffff;
  width: 566px;
  margin: 0 auto;
}

.formCadastroUsuarios {
  margin: 67px auto;
  width: 100%;

  .inputGroup {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    margin: 0 auto;
  }

  .inputText {
    padding: 10px 10px 10px 10px;
    margin: 7px 91px 17px 0;
    width: 550px;

    background-color: #333333;
    color: #ffffff;

    outline: none;
    border: none;
    border-radius: 4px;
  }
}

.buttonWrapper {
  padding-top: 40px;
  width: 105.5%;

  .buttonVoltar {
    float: right;
    background-color: #6c757d;
    color: #fff;
    padding: 12px 54px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #5f6468;
    }
  }
}
