.base {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 4px;
  width: 80px;
}

.baseCor {
  position: relative;
}

.color {
  width: 100%;
  position: absolute;
  height: 20px;
  border-radius: 4px;
}

.button {
  color: #000;
  margin-top: 25px;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  border: dashed 1px #ccc;
  padding: 1px;
  border-radius: 4px;
}


.input {
  height: 0;
  opacity: 0;
}
