@import './colors.scss';

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background;
  color: $white;
}

body::-webkit-scrollbar{
  background-color: #333333;
  border-radius: 4px;
  width: 10px;
}

body::-webkit-scrollbar-button{
  display: none;
}

body::-webkit-scrollbar-thumb{
  background-color: $scrollbar;
  border-radius: 20px;
}

:root {
  font-size: 16px;
}

i {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
