@import './colors.scss';

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: $background;
}

:root {
  font-size: 16px;
}

i {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
