.headerWrap {
  display: flex;
  justify-content: center;

  .headerContent {
    background-color: #333333;
    width: 100%;
    height: 115px;

    display: flex;
  }

  .formButton {
    font-weight: bold;
    color: #4fb4bc;
    background-color: rgba(196, 196, 204, 0.2);

    width: 75px;
    max-height: 115px;

    padding: 60px 8px 30.5px 8px;
    border-bottom: 4px solid #4fb4bc;
    margin: 0 0 0 30px;
    text-align: center;

    cursor: pointer;
    user-select: none;
  }

  #iconHome {
    font-size: 33px;
  }

  .userConnected {
    color: #ffffff;
    margin: 45px 33px 0 0;
    font-size: 24px;

    hr {
      border: 2px solid #4fb4bc;
    }
  }

  .logo {
    margin: 25px 9px 25px 9px;
  }

  .logout {
    font-size: 20px;
    color: #4fb4bc;
    background-color: rgba(196, 196, 204, 0.2);

    position: absolute;
    right: 24px;
    width: 75px;
    max-height: 115px;

    padding: 65px 8px 25px 8px;
    border-bottom: 4px solid #4fb4bc;
    margin: 0 0 0 30px;
    text-align: center;

    cursor: pointer;
    user-select: none;
  }

  .tickets {
    font-size: 20px;
    color: #4fb4bc;
    background-color: rgba(196, 196, 204, 0.2);

    position: absolute;
    right: 131px;
    width: 191px;
    max-height: 115px;

    padding: 65px 8px 25px 8px;
    border-bottom: 4px solid #4fb4bc;
    margin: 0 0 0 30px;
    text-align: center;

    cursor: pointer;
    user-select: none;
  }
}