.listaChamadosWrapper {
    width: 375px;
    background-color: rgba($color: #333333, $alpha: 0.4);
    user-select: none;


    .listaChamadosHeader {
        background-color: #333333;
        height: 51px;

        .listaChamadosHeaderSwitch {
            padding: 5px 0 0 311px;

            i {
                font-size: 35px;
                color: #FFFFFF;
            }
        }
    }

    .listaChamadosPack {
        justify-content: space-between;
        padding: 20px 19px 0 19px;
        height: 598px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            background-color: rgba($color: #333333, $alpha: 0.1);
            border-radius: 4px;
            width: 10px;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #535252;
            border-radius: 20px;
        }


        .listaChamadosFiltro {
            width: 325px;
            height: 24px;
            display: flex;

            .listaChamadosFiltroIcon {
                cursor: pointer;
                font-size: 30px;
                margin-top: -2px;
                padding-left: 10px;
            }

            input {
                width: 292px;
                border-radius: 10px;
                color: #333333;
                padding-left: 10px;
                background-color: #FFFFFF;
                font-weight: 500;
            }

            input:focus {
                outline: none;
            }
        }
    }
}