.container {
  width: 96%;
  position: absolute;
  top: 69px;
  left: 60px;
}

.titleHistory {
  color: #ffffff;
  margin-top: 47px;

  hr {
    border: 1px dashed #ffffff;
    width: 566px;
    margin: 0 auto;
  }
}

.relatorioAvaliacao {
  background-color: #333333;
  padding: 20px;
  display: flex;
  border-radius: 20px;
  overflow-x: auto;
  margin-top: 20px;

  p {
    color: #FFF;
    font-size: 13px;
  }
}

.relatorioAvaliacao::-webkit-scrollbar {
  background-color: #333333;
  border-radius: 20px;
  width: 10px;
  height: 10px;
}

.relatorioAvaliacao::-webkit-scrollbar-button {
  display: none;
}

.relatorioAvaliacao::-webkit-scrollbar-thumb {
  background-color: #535252;
  border-radius: 20px;
}

.icon {
  color: #4fb4bc;
  width: 50px;
  font-size: 80px !important;
  margin-bottom: 10px;
}

.arrowIcon {
  margin-top: 50%;
  color: #4fb4bc;
  font-size: 80px !important;

}

.cardIcon {
  background-color: #535252;
  padding: 20px 5px;
  border-radius: 5px;
  max-width: 150px;
  min-width: 150px;
}

.avaliacoes {
  background-color: #333333;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
}

.infos {
  display: flex;
  margin-bottom: 20px;

  p {
    margin-right: 30px;
  }
}

.tituloDetalhe {
  flex-wrap: wrap;
  text-align: start;
}

.inputTitulo {
  width: 100%;
  padding: 10px 0px 10px 20px;
  margin: 7px 0 17px 0;

  background-color: #535252;
  color: #ffffff;

  outline: none;
  border: none;
  border-radius: 4px;
}

.inputDetalhe {
  width: 100%;
  // height: 400px;
  padding: 10px 20px;
  margin-top: 7px;

  background-color: #535252;
  color: #ffffff;

  outline: none;
  border: none;
  border-radius: 4px;
  text-align: justify;
}

.botaoDownloadArquivo {
  background-color: #4FB4BC;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  padding: 2px 15px;
  i {
    font-size: 26px;
  }
}

.dropzoneContainer {
  width: 700px;
  height: 300px;
  overflow-y: scroll;
  padding: 0;
  margin: 23px 0 100px 25px;
  border-radius: 6px;

  &::-webkit-scrollbar {
    background-color: #3f3f41;
    border-radius: 0 4px 4px 0;
    width: 10px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d6d5d5;
    border-radius: 20px;
  }
}

.divCollapse {

  input[type="checkbox"] {
    display: none;
  }

  h4 {
    cursor: pointer;
    text-decoration: underline;
  }

}

.collapse {
  padding-top: 20px;
  height: 0px;
  overflow: hidden;
  transition: height 0.8s;
}

input:checked+.collapse {
  height: 340px;
}